/* Page-specific styling */

@font-face {
    font-family: "SPO365Icons";
    src: url('../fonts/office/office365icons.eot');
    src: url('../fonts/office/office365icons.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/office/office365icons.woff') format('woff'), 
         url('../fonts/office/office365icons.ttf') format('truetype'), 
         url('../fonts/office/office365icons.svg#web') format('svg');
    font-style: normal;
    font-weight: normal;
}

#details 
{
    margin-left: 15px;
}

#details th 
{
    text-align: left;
    padding-right: 10px;
}

#from 
{
    cursor: pointer;
    color: #336699;
}

#from:focus, #from:hover, #from:active 
{
    color: #4ea2df;
}

body
{
    color: #fff;
}

div.options
{
    position: absolute;
    left: 95%;
    color: #595A5C;
}

div.icons 
{
    font-family: SPO365Icons;
    font-size: 1.2em;
    height: 6%;
    padding: 9px;
    text-align: center;
}

.icons.selected
{
    background: #fff;
    color: #595A5C;
}

div.icons:hover
{
    cursor: pointer;
    cursor: hand;
    opacity: 0.65;
}

.main
{
    width: 100%;
    height: 100%;
}

.left
{
    float: left;
    width: 3%;
    height: 100%;
    background: #595A5C;
    color: #fff;
}

.right
{
    float: right;
    width: 97%;
    height: 100%;
}